#videoDownloadDropDown {
    position: absolute;
    border: 1px solid #ddd;
    width: 200px;
    background: #fff;
    z-index: 9999;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-left: 75px;
    display: none;
}

#videoDownloadDropDown ul {
    padding-left: 0px;

}

#videoDownloadDropDown.shown {
    display: block;
}

#videoDownloadDropDown a {
    display: block;
    padding: 10px;
    color: #444;
}

#videoDownloadDropDown a:hover {
    background: #eee;
    text-decoration: none;
    color: #222;
}